NEXT_PUBLIC_SUPABASE_URL=https://vsynqnqlouvphiniqaiy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzeW5xbnFsb3V2cGhpbmlxYWl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyODI3MjYsImV4cCI6MjA5NTg1ODcyNn0.mNHzKBtgxj9PLrUJqBHm_Ii7od9Fa77jJI944zQp7yU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzeW5xbnFsb3V2cGhpbmlxYWl5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDI4MjcyNiwiZXhwIjoyMDk1ODU4NzI2fQ.vNcDRA2x7f6bTQas_txx-UHcSXa05tBhZizglTSBUyc
